body {
	background-color: rgb(3, 0, 0);
	color: orange;
  
}


#flex-box{
  display: flex;
  flex-wrap:wrap;
  /* justify-content: space-around; */
  align-items:center;
  align-content:space-around;
  align-items: center;
  margin:0 auto;
  /* width:80%; */
}
.hidden{
  visibility:hidden;
  height:100px;
}
#title {
	width: 100%;
	padding-top: 4em;
	padding-bottom: .2em;
	text-align: center;
	/* background-color:tomato; */
	font-size: 2.8rem;
	font-family: 'Press Start 2P', cursive;
	perspective: 500px;
}


#start-menu {
	width: 100%;
	text-align: center;
  flex-wrap:wrap;
  /* justify-content: space-around; */
  /* align-items:center;
  /* align-content:space-around; */
  /* align-items: center;  */


}
button{
  font-family: 'Press Start 2P', cursive;
  border:none;
  background-color:orange;
  height:2em;
  width:500px;
  margin-bottom:40px;
  font-size: 1em ;
}


#start-menu button:hover {
  background-color: rgb(216, 216, 216);
  border-style:none;
}

#game{
  /* width: 50%;
	height:80%; */
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
  /* justify-content: space-between; */
}
/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 2px rgb(55, 136, 1);
  border-radius: 10%;
  margin:10px;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  border-radius: 50%;
  margin: 0 auto;
  width: 80%;
  height: 80%;
 
}

.piece.p1{
  background-color:rgb(2, 56, 231);
}

.piece.p2{
  background-color: rgb(120, 211, 2);
}
 
/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  
  border: dashed 2px rgb(211, 211, 211);
  border-radius: 50%;
  
}

#column-top td:hover {
  background-color: rgb(216, 216, 216);
  border-style:none;
}

@media  (max-width: 1200px) {
  #title{
    font-size: 3.4rem;
  }
  button{
    height:2.4em;
    width:620px;
    font-size:2em;
  }
  #board td {
    width: 80px;
    height: 80px;
  }
}